<p style="color: green"><%= notice %></p>

<h1>Kittens</h1>

<div id="kittens">
  <% @kittens.each do |kitten| %>
    Name: <%= kitten.name %><br><br>
    <%= link_to "Details", kitten %><br><br>
    <%= button_to "Delete", kitten, method: :delete %>
    <br><br>
  <% end %>
</div>

<%= link_to "New kitten", new_kitten_path %>
